@import url("../css/global.css");

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: .5rem;
  color: white;
  background: linear-gradient(to right, var(--back-left), var(--back-right));

  & h2 {
    margin-top: 1rem;
  }

  & ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
    margin-bottom: 1rem;

    & li {
      list-style-type: none;

      background-color: white;
      color: var(--text-btn);
      text-decoration: none;
  
      border-radius: .5rem;
      border: none;

      padding: .5rem 1rem;
      transition: transform 100ms;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.182);
        transform: translateY(-.2rem);
      }
    }
  }
}

.container-eventos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 1rem;
  margin: auto;
  width: 80vw;
  margin: auto;

  & .card-evento {
    width: 30vw;
    max-width: 18.75rem;
    height: 30vh;

    display: flex;
    flex-direction: column;

    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.218);

    transition: transform 100ms;
    
    &:hover {
        transform: translateY(-.2rem);
    }
    
    & h3 {
      font-weight: bold;
    }
  }
}