.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & h3 {
    padding: .5rem;
  }
  
  & form {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.218);

    & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    list-style-type: none;

    margin: 0;
    padding: 0;
    width: 40vw;

    & li {

      & button {

        background: linear-gradient(to right, var(--back-left), var(--back-right));
        color: white;

        width: 10rem;
        padding: .5rem;
        border: none;
        border-radius: .5rem;
        font-weight: bold;

        transition: transform 100ms;

        &:hover {
          transform: translateY(-.2rem);
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.218);
        }
      }
    }
    }
  }
}