* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back-right: #2699E0;
  --back-left: #46AB67;

  --text-color: white;
  --text-div: #133A3B;
  --text-btn: #4CAF50;

  --font: "Zain", "sans-serif"
}

body {
  font: var(--font);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  & img {
    max-width: 10rem;
  }

  & h2 {
    color: #1C3C43;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: 1rem;

  & img {
    max-width: 10rem;
  }
}