@import url("../css/global.css");

.banner {
  background: linear-gradient(to right, var(--back-left), var(--back-right));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 55vh;
  padding: 1rem;

  color: white;
  & a {
    background-color: white;
    border-radius: .5rem;
    color: var(--text-btn);
    text-decoration: none;
    padding: .5rem 1rem;

    transition: transform 100ms;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.182);
        transform: translateY(-.2rem);
      }
  }
}
